{% macro display(category_list) %}
<div class="row">
	{% if category_list %}
        {% for category in category_list %}
        <h5 class="card-header">{{category.title}}</h5>
			<div class="card-body">
			<blockquote class="blockquote mb-0">
			    <p>{{category.pitch}}</p>

			</blockquote>
			
			<a href="{{url_for('main.new_comment',pitch_id = category.id)}}" class="btn btn-info">comment</a>
			<a href="{{url_for('main.upvote',pitch_id = category.id)}}" class= "btn btn-primary btn-sm">Upvote <span>{{category.upvotes.count()}}</span></a>
			<a href="{{url_for('main.downvote',pitch_id = category.id)}}" class= "btn btn-danger btn-sm">Downvote <span>{{category.downvotes.count()}}</span></a>
			<hr>
		{% endfor %}
		
    {% endif %}
{% endmacro %}

{% macro displayComment(comments) %}
<ul>
			{% if comments %}
			{% for comment in comments %}
				<div class="thumbnail">
					<a href="#">
						<div>
						</div>
						<h4>{{ comment.description }}</h4>
						<small> posted by {{comment.user.username}}</small>
					</a>
				</div>
			{% endfor %}
			{% else %}

			<h3>No comments for this pitch yet!!</h3>
			{%endif%}

	</ul>
	{% endmacro %}