<style>
      .nav{
        
        background-color: lightseagreen;
        height: 70px;
        margin-bottom: 30px;
        border-bottom: black;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 9999;}
</style>
<nav class="nav">
    <a class="navbar-brand" href="/">Pitcher</a>
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        
        
  <br>
      
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.login')}}">Sign in</a>
        </li>
        {%endif%}
     
      </ul>
    </div>
  </nav>