<style>
      .nav{
        
        background-color: rgb(32, 178, 170, 0.8);
        height: 70px;
        margin-bottom: 30px;
        border-bottom: black;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 9999;
        font-size: 20px;}
      #title{
        font-size: 20px;
        color: white;
      }
      ul li{
       
        display: inline-flex;
        float: right;
        margin-right: 30px;
        color: black;
      }
      li a{
        color: black;
      }
      li a:hover{
        text-transform: uppercase;
        text-decoration: none;
        color: brown;
      }
      #user{
        color: brown;
      }
</style>
<nav class="nav">
    <a id="title" class="navbar-brand" href="/">Pitcher</a>
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><span class="sr-only">(current)</span></a>
        </li>
      </ul>  
        
  <br>
      <ul>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.profile',uname=current_user.username)}}"><b id="user"> {{current_user.username|capitalize}}</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.login')}}">Sign in</a>
        </li>
        
          
        {%endif%}
     
        </ul>
    </div>
  </nav>